<div [ngSwitch]="asset_type"><!-- NgSwitch (asset type)-->
  <div *ngSwitchCase='"re"'>
    <app-asset-create-re [group]="form"></app-asset-create-re>
  </div>
  <div *ngSwitchCase='"ch"'>
    <app-asset-create-ch></app-asset-create-ch>
  </div>
  <div *ngSwitchCase='"mo"'>
    <app-asset-create-mo></app-asset-create-mo>

  </div>
  <div *ngSwitchCase='"ot"'>
    <app-asset-create-ot></app-asset-create-ot>
  </div>
</div><!-- /NgSwitch (asset type)-->
