<p>will - 0</p>
<form [formGroup]="will0Form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="user-firstName">שם פרטי</label>
                <input type="text" class="form-control" id="user-firstName" formControlName="user-firstName">
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <div class="form-group">
                <label for="user-lastName">שם משפחה</label>
                <input type="text" class="form-control" id="user-lastName" formControlName="user-lastName">
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-7">
            <div class="form-group">
                <label for="user-idNumber">מספר ת.ז</label>
                <input type="text" class="form-control" id="user-idNumber" formControlName="user-idNumber">
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="user-idNumber">תאריך לידה</label>
                <p>add from https://eonasdan.github.io/bootstrap-datetimepicker/Installing/ </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="form-group">
                <label for="user-email">שם פרטי</label>
                <input type="text" class="form-control" id="user-email" formControlName="user-email">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg pull-left" [disabled]="!will0Form.valid">הבא</button>
</form>
