body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #EBEBE0;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

a:hover,
a:active {
  color: #00B7FF;
  text-decoration: underline;
}

a.danger {
  color: red;
}

.spacing {
  margin-bottom: 20px;
}

@media (min-width: 992px){
  .modal-lg {
    max-width: 1200px !important;
    width: 750px;
    height: 1200px; /* control height here */
  }
}
