<div class="row">
  <div class="alert alert-info" role="alert">נכס מקרקעין: (להסביר מה זה ומה הבחירות כוללות</div>
</div>

<div class="row">
  <div class="col-md-2">
    <h3>נכס מקרקעין מסוג</h3>
  </div>
  <div class="col-md-5">
    <div class="form-group">
      <label for="assetSubType" class="control-label">בחר סוג נכס</label>
      <select name="assetType" id="assetSubType" #t class="form-control input-lg" (change)="onSelect(t.value)">
        <option selected disabled>בחר</option>
        <option *ngFor="let o of asset_sub_type_options; let i = index;" [value]="i">{{o}}</option>
      </select>
    </div>
  </div>
</div>

<div *ngIf="asset_sub_type">
  <div class="row">
    <app-address [title]="'פרטי הנכס:'" [group]="form.controls.asset_description.controls.re_house_address"
                 [show]="true"></app-address>
  </div>
  <div class="row">
    <app-legal-address [title]="'פרטים נוספים'" [group]="form.controls.asset_description.controls.re_house_legal_address"
                       [show]="true"></app-legal-address>
  </div>
</div>
