<div class="row">
  <div class="col-md-12">
    <div class="form-main">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">עריכת צוואה</div>
        </div>
        <div class="panel-body">
          <div class="col-md-3">
            <app-decree-list></app-decree-list>
          </div>
          <div class="col-md-9">
            <app-decree-create></app-decree-create>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
