<header class="bg-img">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <h1>משפט כאן</h1>
                <button class="btn btn-primary btn-large" [routerLink]="'/will'">התחלה - צור צוואה</button>
            </div>
        </div>
    </div>
</header>
