<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="form-main">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">הוסף פרטי מצווה</div>
        </div>
        <div class="panel-body">
          <app-testator-create></app-testator-create>
        </div>
      </div>
    </div>
  </div>
</div>
