<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <label for="first_name">שם פרטי</label>
        <input type="text" class="form-control" id="first_name" formControlName="first_name">
      </div>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <div class="form-group">
        <label for="last_name">שם משפחה</label>
        <input type="text" class="form-control" id="last_name" formControlName="last_name">
      </div>
    </div>
  </div>
  <br>

  <div class="radio" *ngFor="let g of genders">
    <label>
      <input type="radio"
             formControlName="gender"
             [value]="g">
      {{g}}
    </label>
  </div>

  <div class="row">

    <div class="col-md-3">
      <div class="radio" *ngFor="let g of genders">
        <label>
          <input type="radio"  [value]="g"  formControlName="gender">{{g}}</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="id">מספר ת.ז</label>
        <input type="text" class="form-control" id="id" formControlName="id">
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group">
        <label for="birth_date">תאריך לידה</label>
        <input type="text" class="form-control" id="birth_date" formControlName="birth_date">
        <p>add from https://eonasdan.github.io/bootstrap-datetimepicker/Installing/ </p>
      </div>
    </div>
  </div>
  <div class="row">
      <app-address [title]="'הוסף כתובת מגורים עדכנית'" [group]="form.controls.address" [show]="true"></app-address>
  </div>
  <button type="submit" class="btn btn-primary btn-lg pull-left" [disabled]="!form.valid">הבא</button>
</form>
