<form [formGroup]="form">
  <div class="col-md-2">
    <div class="form-group">
      <label for="street">רחוב</label>
      <input type="text" class="form-control" id="street"
             formControlName="street">
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label for="house">מספר רחוב</label>
      <input type="text" class="form-control" id="house"
             formControlName="house">
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label for="entry">כניסה</label>
      <input type="text" class="form-control" id="entry"
             formControlName="entry">
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label for="apartment">מספר דירה</label>
      <input type="text" class="form-control" id="apartment"
             formControlName="apartment">
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label for="city">עיר</label>
      <input type="text" class="form-control" id="city" formControlName="city">
    </div>
  </div>
</form>
