<form [formGroup]="form">
  <div class="col-md-3">
    <div class="form-group">
      <label for="group">גוש</label>
      <input type="text" class="form-control" id="group"
             formControlName="group">
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="section">חלקה</label>
      <input type="text" class="form-control" id="section"
             formControlName="section">
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="sub_section">תת חלקה</label>
      <input type="text" class="form-control" id="sub_section"
             formControlName="sub_section">
    </div>
  </div>
</form>
