<nav class="navbar navbar-default navbar-fixed-top fixed-nav-bar" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse navbar-links" id="myNavBar">
			<ul class="nav navbar-nav">
				<button type="submit" class="btn btn-primary msignup">רישום</button>
				<button type="submit" class="btn btn-default mlogin">כניסה</button>
			</ul>
		</div>
	</div>
</nav>