<form [formGroup]="form" (ngSubmit)="onSubmit()"> <!-- form for all decree (asset + beneficiaries) -->
  <div class="row">
    <div class="col-md-2">
      <h3>נכס מסוג: </h3>
    </div>
    <div class="col-md-5">
      <div class="form-group">
        <label for="assetType" class="control-label">בחר סוג נכס</label>
        <select name="assetType" id="assetType" #t class="form-control input-lg" (change)="onSelect(t.value)">
          <option selected disabled>בחר</option>
          <option *ngFor="let o of asset_type_options; let i = index;" [value]="i">{{o}}</option>
        </select>
      </div>
    </div>
  </div>

  <div *ngIf="asset_type">
    <app-asset-create [asset_type]="asset_type" [group]="form.controls.asset"></app-asset-create>
  </div>



</form>
